<script type="text/javascript">
  function check_validation(){
    
    if(document.getElementById('user1_confirm_password').value !=  document.getElementById('user_password').value){
      alert('password and confirm password are not matching ');
      return false;
    }

    if(document.getElementById('user1').checked == false)
    {
         alert('please check the check box');
         return false;
    }
    else
      {
        return true;
      }
  }


</script>




<%= form_for(@user,:html => {:multipath => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= label :user1,:confirm_password %><br />
    <%= password_field :user1, :confirm_password %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>

  <div class="field">
  <%= f.radio_button :gender,"true"%>Male
  <%= f.radio_button :gender,"false"%>Female
  </div>




<div class="field">
  <%= check_box_tag ('user1','condition')%>I agree
</div>

<div class="field">
  <%= f.file_field("image") %>Picture
</div>

<div class="actions">
    <%= f.submit :onclick => "return check_validation();"%>
  </div>
<% end %>
